@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;

  background: #050505;
  color: #ffffff;

  font-family: "Inter", sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
}

a {
  color: inherit;
}

::selection {
  color: #050505;
  background: #ffc107;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff3030;
}